*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body {
    background: black;

}
.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px 10%;
    background: red;
    display:flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;

}

.navbar{
    margin-left: 50vw;
}
.navbar a {
    font-size: 15px;
    color: aqua;
    text-decoration: none;
    font-weight: 400;
    /* margin-left: 100px; */
    
}
.navbar a:hover{
    color: black;
    padding: 10px 10px;
    border: 2px solid blueviolet;
    background-color: antiquewhite;
}
.main{
    margin-top: 60px;
    color: brown;
    background-color: aqua;
    height: 100px;
    width: 100px;
}
.body1{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: black;
}
.wrapper{
    display:flex;

}
.wrapper .static-txt{
    font-size: 60px;
    color:red;
    font-weight: 200;

}
.wrapper .dynamic-txts{
    margin-left: 15px;
    height:90px;
    line-height: 90px;
    overflow: hidden;

}
.dynamic-txts li{
    color:blueviolet;
    list-style: none;
    font-size: 60px;
    font-weight: 400;
    position:relative;
    top:0;
    animation: slide 2s steps(4) infinite;
}
@keyframes slide{
    100%{
        top:-360px;
    }
}
.dynamic-txts li span{
    position:relative;
    margin: 4px 0;
    line-height: 90px;
}
.dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid brown;
    animation: typing 1.5s steps(10) infinite;
}
@keyframes typing {
    40% ,60%{
        left:calc(100% + 30px);

    }
    100%{
        left: 0;
    }
}

.container{
    display:flex;
    width:90%;
    padding:20px;
    margin:100px auto;
    flex-direction: row;
    justify-content: center;
}
.box{
    width:250px;
    margin:0 10px;
    box-shadow: rgba(0,0,0, .1);
}
.box img{
    display:block;
    height: 50%;
    width:100%;
    border-radius: 5px;
}
.image1{
    background: black;
    color: white;
   justify-content: center;
    display: flex;
}
.image2{
    background: black;
    color: white;
    justify-content: center;
    display: flex;
}
.image3{
    background: black;
    color: white;
    justify-content: center;
    display: flex;
}
.image4{
    background: black;
    color: white;
    justify-content: center;
    display: flex;
}
.last{
    background-color: white;
    height: 50vh;
    width: 100%;
    text-align: center;
    
}
.last .one{
    text-align: center;
}
